* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

/*-------------------------------------------------------------*/

/* CARRUSEL */
.container_carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* Transición suave */
}

.carousel-img.active {
    opacity: 1;
    position: relative;
}

.carousel-img.prev {
    transform: translateX(-100%); /* Imagen anterior se desliza a la izquierda */
}

.carousel-img.next {
    transform: translateX(100%); /* Imagen siguiente se desliza a la derecha */
}

.carousel-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*HEADER CARRUSEL*/
.container_carrusel_header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

/* Redes sociales */
.container_redes ul {
    display: flex;
    list-style: none;
}

.container_redes ul li {
    padding: 0 10px;
}

.container_redes ul li a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.container_redes ul li a:hover {
    color: #f0a500;
}

/*-------------------------------------------------------------*/



/*Inicio----------Footer-content---------*/
.footer-content{
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: white;
    background-color:  rgba(0, 0, 0, 0.85);
    padding: 1.5rem; 
    text-align: column;

}

.footer-content .Logo{
    height: auto;
    width:10%;
    margin: 10px;

}
/*Fin----------Footer----------*/