*{
    margin: 0;
    padding: 0;
}


/*SECCION HEADER PAGINA WEB NAV, INCLUYE REDES Y LOGO DE LA INSTITUCION*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
   width: 80vh;

}

nav img {
    height: 100px;
}

ul li {
    display: inline-block;
    padding: 0px 10px;
}

a {
color: white;
text-decoration: none;

}



.container_redes{

    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

/*-------------------------------------------------------------*/
