* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

/*-------------------------------------------------------------*/

/* CARRUSEL */
.carousel-title{

    position: absolute;
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 1s ease-in-out; /* Transición suave de opacidad */
    z-index: 2; /* Asegúrate de que el título esté por encima de las imágenes */

}

.container_carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; 
    transform: translateY(0);
    filter: brightness(0.5);
}

.carousel-img.active {
    opacity: 1;
    position: relative;
    transform: translateY(0);
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block; 
}

.carousel-item.active ~ .carousel-title {
    opacity: 1; 
}

.carousel-img.prev {
    transform: translateX(-100%);
}

.carousel-img.next {
    transform: translateX(100%);
}

.carousel-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*HEADER CARRUSEL*/
.container_carrusel_header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}


/*EFECTO SUAVE "CONTACTOS"*/

html {
    scroll-behavior: smooth;
  }

/*SLIDER CATEGORIAS*/
.submenu {

    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    list-style: none;
    z-index: 1;

}

.submenu li {
margin: 10px 0px;
}


.submenu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.submenu.active {
    display: block;
    animation: slideDown 0.4s ease;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Redes sociales */
.container_redes ul {
    display: flex;
    list-style: none;
}

.container_redes ul li {
    padding: 0 10px;
}

.container_redes ul li a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.container_redes ul li a:hover {
    color: #f0a500;
}

/*-------------------------------------------------------------*/



/*Inicio--------PLANTELES MASCULINO----------------------------------*/


/*TITULO*/
.container_planteles_title{
height: 20vh;
color: white;
background-color:  rgba(0, 0, 0, 0.85);
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}

.container_planteles_title::after {
    content: "";
    position: absolute;
    bottom: 30px; 
    left: 10%; 
    right: 10%; 
    height: 2px; 
    background-color: white; 
    
  }

.container_planteles_title h2 {
    font-size: 5rem;
    color:#ccc;
   

}

.container_planteles_jugadores {

    height: 1750px;
    background-color: white;
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.container_planteles_jugadores2 {

    height: 2175px;
    background-color: white;
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.container_planteles_jugadores_tarjeta{
    height: 100%;
    padding: 20px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #ccc;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.tarjeta{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    overflow: hidden;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.descripcion{
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 5), transparent);
    text-align: center;
}

.tarjeta .descripcion{

}

.descripcion h3{
    margin: 10px 0;
    font-size: 1.7rem;
}

.descripcion p{
font-size: 1.3rem;
color: #a5a5a5;


}



/*fin-----------PLANTELES MASCULINO-------------------------------------*/

/*Inicio----------Footer-content---------*/

.footer-content{
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: white;
    background-color:  rgba(0, 0, 0, 0.85);
    padding: 1.5rem; 
    text-align: center;
    flex-direction: column;
    align-items: center;

}
.info{
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-content div{
    margin-bottom: 20px;
}

.footer-content .Logo{
    height: auto;
    width:17%;
    margin: 10px;
    margin-right: 200px;

}

.separador {
    height: 2px;
    width: 700px;
    background-color: #ccc;
    margin: 20px 20px;
}
/*Fin----------Footer----------*/